{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<div class="container">
    <form action="#" class="login-form" method="post">
        <h2>Login</h2>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <input type="text" name="username" id="username" placeholder="User" required>
        <input type="password" name="password" id="password" placeholder="password" required>
        <button type="submit">Log in</button>
        <p><a href="{{ url_for('register') }}">Register!</a></p>
        <p>
            忘記你的密碼了嗎？<br>
            <a href="{{ url_for('reset_password_request') }}"> 點擊這裡重設 </a>
        </p>
    </form>

</div>
{% endblock %}